@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

::-webkit-scrollbar {
    width: 7px;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    box-sizing: border-box;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    background-size:cover;
    background-repeat:no-repeat;

    //height: 100%;
}
