.ChatHead {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 2px var(--color-light-shadow);
  position: relative;
  z-index: var(--z-middle-header);
  //padding-top: 0.5rem;
  //padding-bottom: 0.5rem;
  //padding-left: max(1.5rem, env(safe-area-inset-left));
  //padding-right: max(0.8125rem, env(safe-area-inset-right));

  .transition {
    width: 100%;
    min-width: 0;
  }

  .wrapper {

    padding: 10px;
    min-height: var(--chat-height);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}