.app.dark {
    --bg-color: rgb(33,33,33);
    --inverted-bg-color: #e8e8ea;
    --bg-color-navbar:#1f1f1f;
    --inverted-color-navbar:#f0f0f0;
    --inverted-color-active-navbar:#8c8c8c;

    --separator:#8c8c8c;

    --primary-color: #FFF;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
